*pyc
.DS_Store
~*
*~
\#*
*aux
*log
*pdf
*tex
*toc
*json
*.ris
*.bib
run.sh
.DS_Store
*zip
*.txt
*.png
*out
*png
*mp4
*.iml
.idea
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*png
*gradle*
*bib
*ris
*zip
*txt
run.sh
*jpg
*gif
*.o
*so
