snippet 00
<!DOCTYPE html>

/* 
============================

    @author       : Deping Huang
    @mail address : xiaohengdao@gmail.com
    @date         : ${1:ctrl+shift+,}
    @project      : ${2:project}
    @version      : ${3:version}
    @source file  : ${4:ctrl+shift+.}

============================
*/

body{
    background:cyan;
}

endsnippet

